*{
  margin:0;
  padding:0;
}


body{
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}


.nav-bar{
  background:#111;
}

.nav-bar .navbar-brand{
  color:#ffffff !important;
  font-size: 1.3rem;
}

.experience-form{
  padding: 60px 0;
}



.experience-form form .form-group{

  margin-top: 18px;
  padding: 15px;
}

.experience-form form .form-control{
  background: transparent;
  border:none;
  border-bottom: 3px solid #111;
  border-radius:0;
  color: #fff;

}

.experience-form form .form-control::placeholder{
  color:#fff;
}

.experience-form form .home-btn{
  padding: 15px;
  color: #fff;
  background: #111;
  font-size: 1rem;
  width: 100%;
}

.experience-form  .heading{
  padding: 10px;
}

.experience-form .heading h1{
  font-size: 3rem;
  font-weight: 500;
}

.experience-form form select option{
  background:#111;
}


.feed{
  padding: 60px 0;
}

.feed .post{
  padding: 10px;
  overflow-x: hidden;
}

.feed .post .post-single{
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  
}

.feed .post .post-single .post-title h2{
  font-size:2rem;
}

.feed .post .post-single .post-category span{
  font-size: 1.4rem;
}

.feed .post .post-single .f-btn{
  padding: 14px;
  color: #fff;
  background: #111;
  margin-top: 10px;
  width: 100%;
  border: 0px solid ;
  border-radius: 0;
}

.post-details{
  padding: 60px 0;
}

.post-details .heading{
  padding: 10px ;
}

.post-details .heading h2{
  font-size: 2.5rem;
  font-weight: 600;
}


.post-details .post-category{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.post-details .words{
  padding: 20px;
  font-size:1.2rem;
}

.comments {
  padding: 7px;
  color: #fff;
}

.comments span{
 color: #fff;
}

.white{
  background: #ffffff;
}

.word-white{
  color: #ffffff;
}

.nav-link:hover{
  color: #ffffff;
}